# Order matters when it comes to building images, currently though, they're
# build in alphabetical order. Which works because "base" needs to be first
# and then "node", after that, it doesn't matter.
# -------------------------------------------------------------------------
#
# key definitions
# -------------------------------------------------------------------------
# - name:  defines the overall build name
# - image: defines the image name to be generated, name is used if omitted
# - version: defines the version to be used as a tag and in a template
# - source: defines a source image to use in template
# - native: can optionally be passed to a template to noop, indicating that
#       the source image contains what's requested in image and version
# - priority: determines image level build priorty, this will only order by
#       name, as duplicate names with varying versions are built concurrently
# - aliases: list of other image names to use as well. If addtional tags are
#       set, the alias images will get them as well
# - tags: list addtional tags to give this image, e.g. "latest"
# -------------------------------------------------------------------------

# base images
- name: base
  image: my/base
  version: 1.1.1
  source: base_image_source:tag
  priority: -1
  aliases:
  - my/other-base
  tags:
  - latest
  - 1.1
  - 1

# sub-image
- name: subimage
  image: my/subimage
  version: sub_image_version
  source: base_image:base_image_version
  #native: true
